//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 35 36 37 31 30>;
            hold-trigger-on-release;
            label = "HML";
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 32 25 33 34>;
            hold-trigger-on-release;
            label = "HMR";
        };

        en_dot: en_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "EN_DOT";
            bindings = <&kp DOT>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        RU_SOFT_HARD_SIGN: RU_SOFT_HARD_SIGN {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_SOFT_HARD_SIGN";
            bindings = <&kp RU_CYRILLIC_SOFT_SIGN>, <&kp RU_CYRILLIC_HARD_SIGN>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        RU_SHCHA_SHCHA: RU_SHCHA_SHCHA {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_SHCHA_SHCHA";
            bindings = <&kp RU_CYRILLIC_SHA>, <&kp RU_CYRILLIC_SHCHA>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        RU_IE_IO: RU_IE_IO {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_IE_IO";
            bindings = <&kp RU_CYRILLIC_IE>, <&kp RU_CYRILLIC_IO>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        COLON_SEMI: COLON_SEMI {
            compatible = "zmk,behavior-mod-morph";
            label = "COLON_SEMI";
            bindings = <&kp COLON>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        EXCL_QUEST: EXCL_QUEST {
            compatible = "zmk,behavior-mod-morph";
            label = "EXCL_QUEST";
            bindings = <&kp EXCL>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        DQ_SQ: DQ_SQ {
            compatible = "zmk,behavior-mod-morph";
            label = "DQ_SQ";
            bindings = <&kp DOUBLE_QUOTES>, <&kp SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        RU_COLON_SEMI: RU_COLON_SEMI {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_COLON_SEMI";
            bindings = <&en COLON>, <&en SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        RU_EXCL_QUEST: RU_EXCL_QUEST {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_EXCL_QUEST";
            bindings = <&en LS(EXCLAMATION)>, <&en QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        RU_DQ_SQ: RU_DQ_SQ {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_DQ_SQ";
            bindings = <&en DOUBLE_QUOTES>, <&en SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hmr_colon: hmr_colon {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&COLON_SEMI>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 32 25 33 34>;
            hold-trigger-on-release;
            label = "HMR_COLON";
        };

        EQ_PLUS: EQ_PLUS {
            compatible = "zmk,behavior-mod-morph";
            label = "EQ_PLUS";
            bindings = <&kp EQUAL>, <&kp KP_PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        LBR_LPAR: LBR_LPAR {
            compatible = "zmk,behavior-mod-morph";
            label = "LBR_LPAR";
            bindings = <&kp LEFT_BRACKET>, <&kp LPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        RBR_RPAR: RBR_RPAR {
            compatible = "zmk,behavior-mod-morph";
            label = "RBR_RPAR";
            bindings = <&kp RIGHT_BRACKET>, <&kp RPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        extra-nav-right {
            bindings = <&mo 4>;
            key-positions = <36 35>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N2))>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
           &kp Q            &kp W            &kp E              &kp R                &kp T        &kp Y    &kp U                 &kp I               &kp O            &kp P
           &hml LEFT_GUI A  &hml LEFT_ALT S  &hml LEFT_SHIFT D  &hml LEFT_CONTROL F  &kp G        &kp H    &hmr RIGHT_CONTROL J  &hmr RIGHT_SHIFT K  &hmr LEFT_ALT L  &hmr_colon RIGHT_GUI 0
&layer_ru  &kp Z            &kp X            &kp C              &kp V                &kp B        &kp N    &kp M                 &LBR_LPAR           &RBR_RPAR        &kp FSLH                &en_dot
                                             &kp BACKSPACE      &mo 4                &kp SPACE    &kp RET  &mo 2                 &kp TAB
            >;

            display-name = "En";
            label = "En";
        };

        ru {
            bindings = <
           &kp RU_CYRILLIC_SHORT_I       &kp RU_CYRILLIC_TSE             &kp RU_CYRILLIC_U               &kp RU_CYRILLIC_KA               &RU_IE_IO             &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE               &RU_SHCHA_SHCHA                  &kp RU_CYRILLIC_ZE            &kp RU_CYRILLIC_HA
           &hml LEFT_GUI RU_CYRILLIC_EF  &hml LEFT_ALT RU_CYRILLIC_YERU  &hml LEFT_SHIFT RU_CYRILLIC_VE  &hml LEFT_CONTROL RU_CYRILLIC_A  &kp RU_CYRILLIC_PE    &kp RU_CYRILLIC_ER  &hmr RIGHT_CONTROL RU_CYRILLIC_O  &hmr RIGHT_SHIFT RU_CYRILLIC_EL  &hmr LEFT_ALT RU_CYRILLIC_DE  &hmr RIGHT_GUI RU_CYRILLIC_ZHE
&layer_en  &kp RU_CYRILLIC_YA            &kp RU_CYRILLIC_CHE             &kp RU_CYRILLIC_ES              &kp RU_CYRILLIC_EM               &kp RU_CYRILLIC_I     &kp RU_CYRILLIC_TE  &RU_SOFT_HARD_SIGN                &kp RU_CYRILLIC_BE               &kp RU_CYRILLIC_YU            &kp RU_CYRILLIC_E               &kp RU_DOT
                                                                         &kp BACKSPACE                   &mo 4                            &kp SPACE             &kp RET             &mo 3                             &kp TAB
            >;

            display-name = "Ru";
            label = "Ru";
        };

        sym {
            bindings = <
        &EXCL_QUEST    &kp AT            &kp HASH        &kp DOLLAR        &kp PERCENT    &kp CARET  &kp AMPERSAND   &kp ASTERISK    &kp MINUS        &EQ_PLUS
        &kp LEFT_GUI   &kp LEFT_ALT      &kp LEFT_SHIFT  &kp LEFT_CONTROL  &trans         &DQ_SQ     &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &trans
&trans  &kp LESS_THAN  &kp GREATER_THAN  &kp LPAR        &kp RPAR          &trans         &kp GRAVE  &kp BACKSLASH   &kp DOWN_ARROW  &kp PIPE         &kp SLASH  &trans
                                         &trans          &mo 5             &trans         &trans     &trans          &trans
            >;

            label = "Sym";
        };

        ru_sym {
            label = "RU Sym";
            bindings = <
        &RU_EXCL_QUEST  &en AT            &en HASH        &en DOLLAR        &en PRCNT    &en CARET  &en AMPS        &kp ASTRK       &kp MINUS        &EQ_PLUS
        &kp LEFT_GUI    &kp LEFT_ALT      &kp LEFT_SHIFT  &kp LEFT_CONTROL  &trans       &RU_DQ_SQ  &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &RU_COLON_SEMI
&trans  &en LESS_THAN   &en GREATER_THAN  &kp LPAR        &kp RPAR          &trans       &en GRAVE  &kp BACKSLASH   &kp DOWN_ARROW  &en PIPE         &en SLASH       &trans
                                          &trans          &mo 5             &trans       &trans     &trans          &trans
            >;
        };

        nav_dig {
            bindings = <
        &kp LA(F4)       &kp HOME                  &kp INS                   &kp PG_UP                      &kp ESC       &kp PLUS   &kp N7                 &kp N8               &kp N9             &kp EQUAL
        &hml LEFT_GUI A  &hml LEFT_ALT LEFT_ARROW  &hml LEFT_SHIFT UP_ARROW  &hml LEFT_CONTROL RIGHT_ARROW  &kp RET       &kp MINUS  &hmr RIGHT_CONTROL N4  &hmr RIGHT_SHIFT N5  &hmr RIGHT_ALT N6  &hmr RIGHT_GUI N0
&trans  &kp TAB          &kp END                   &kp DOWN_ARROW            &kp PG_DN                      &kp DELETE    &kp ASTRK  &kp N1                 &kp N2               &kp N3             &kp KP_DIVIDE      &trans
                                                   &trans                    &trans                         &trans        &trans     &mo 5                  &trans
            >;

            label = "Nav Dig";
        };

        fn {
            bindings = <
        &kp C_BRI_UP  &trans        &trans            &trans            &kp C_VOL_UP    &trans  &kp F9  &kp F10  &kp F11  &kp F12
        &kp LEFT_GUI  &kp LEFT_ALT  &kp LSHFT         &kp LEFT_CONTROL  &kp C_MUTE      &trans  &kp F5  &kp F6   &kp F7   &kp F8
&trans  &kp C_BRI_DN  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT        &kp C_VOL_DN    &trans  &kp F1  &kp F2   &kp F3   &kp F4   &tog 6
                                    &trans            &trans            &trans          &trans  &trans  &trans
            >;

            label = "Fn";
        };

        Game {
            bindings = <
         &kp ESC    &kp Q  &kp X     &kp R  &kp T        &kp Y      &kp U   &kp I      &kp O    &kp P
         &kp LSHFT  &kp A  &kp W     &kp D  &kp G        &kp H      &kp J   &kp K      &kp L    &kp SEMI
&kp TAB  &kp LCTRL  &kp Z  &kp S     &kp C  &kp B        &kp N      &kp M   &kp COMMA  &kp DOT  &kp FSLH  &tog 6
                           &kp LALT  &mo 7  &kp SPACE    &kp ENTER  &trans  &trans
            >;

            label = "Game";
        };

        Game+ {
            bindings = <
        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &kp ENTER    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans       &trans  &trans  &trans
            >;

            label = "Game+";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
