//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0

/ {
    behaviors {
        KP_DOT_SHIFT_COMMA: KP_DOT_SHIFT_COMMA {
            compatible = "zmk,behavior-mod-morph";
            label = "KP_DOT_SHIFT_COMMA";
            bindings = <&kp RBKT>, <&kp LBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        KP_COLON_SHIFT_SEMICOLON: KP_COLON_SHIFT_SEMICOLON {
            compatible = "zmk,behavior-mod-morph";
            label = "KP_COLON_SHIFT_SEMICOLON";
            bindings = <&kp LS(RBKT)>, <&kp LS(LBKT)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        UBER_DOT: UBER_DOT {
            compatible = "zmk,behavior-mod-morph";
            label = "UBER_DOT";
            bindings = <&KP_DOT_SHIFT_COMMA>, <&KP_COLON_SHIFT_SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        caps_word_shift: caps_word_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_WORD_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&caps_word>;
        };

        sticky_forever: sticky_forever {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_FOREVER";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <3000000>;
            ignore-modifiers;
        };

        sm_ctrl: sm_ctrl {
            compatible = "zmk,behavior-mod-morph";
            label = "SM_CTRL";
            bindings = <&sticky_forever LCTRL>, <&release_ctrl>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        release_ctrl: release_ctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release>, <&kp LCTRL>;

            label = "RELEASE_CTRL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
         &kp Q  &kp W  &kp E             &kp R  &kp T        &kp Y   &kp U   &kp I      &kp O    &kp P
         &kp A  &kp S  &kp D             &kp F  &kp G        &kp H   &kp J   &kp K      &kp L    &kp SEMI
&kp TAB  &kp Z  &kp X  &kp C             &kp V  &kp B        &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &UBER_DOT
                       &caps_word_shift  &mo 1  &kp SPACE    &trans  &trans  &kp RALT
            >;
        };

        Nav {
            bindings = <
        &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &sm_ctrl  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans    &trans  &trans  &trans
            >;

            label = "Nav";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
